.body {
    background: url(./images/background-image.webp);
}

.col-sm {
    color: grey;
    font-family: verdana;
}

.photo-of-me {
    animation: fadeInDown;
    animation-duration: 1s;
    padding: 30px, 40px, 30px, 0px
}

.col-sm-5 {
    border-radius: 25px;
}

.my-name {
    font-family: 'Overpass', sans-serif;
    animation: fadeInDown;
    animation-duration: 1s;
    text-decoration: underline;
}

.fun-facts {
    animation: rubberBand;
    animation-duration: 1s;
}

.hey-there {
    animation: rubberBand;
    animation-duration: 1s;
}

.github-icon {
    animation: rotateIn;
    animation-duration: 1s;
}

.linkedin-icon {
    animation: rotateIn;
    animation-duration: 1s;
}

.email-icon {
    animation: rotateIn;
    animation-duration: 1s;
}